<div class="articles">
</div>


 {{!-- Modal for alerting number of scraped articles --}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

        <div class="panel panel-default">
            <div class="panel-body" id="loader" class="text-center">
                <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
        </div>

  
</div>